[Desktop Entry]
Type=Application
Name=Lekhani Latex
Comment=A modern, easy-to-use LaTeX editor with live preview
Exec=env MESA_LOG_FILE=/dev/null lekhani-latex
Icon=lekhani-latex
Terminal=false
Categories=Office;Publishing;Utility;TextEditor;
